<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=SIS;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LMS.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="SIS.Properties.Settings.SISConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=SIS;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>